/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}


/* UTILITIES */
.dashed {
    border: 3px dashed black;
}

.row-reverse {
    flex-direction: row-reverse;
}

.mar-auto {
    margin: 0 auto;
}
/* LIST TAG */

/* li */
li {
    list-style: none;
}

/* ul */
ul.flex {
    justify-content: space-evenly;
}


/* ANCOR TAG */
a {
    color: white;
    text-decoration: none;
}


/* COMMON */
.second-section,
.fourth-section {
    background-color: #FFFFFF;
}

.third-section,
.fifth-section {
    background-color: #D3D3D3;
}


/* HEADER */
.header-bar {
    font-size: 20px;
    font-family: monospace;
    background-color: #ADD8E6;

}

/* Logo-side */
.logo-side {
    flex-grow: 1;
}

/* Middle section */
.middle-section {
    flex-grow: 2;
    flex-direction: row;
}

/* login-side */
.login-side {
    flex-grow: 1;
    text-align: end;
}

/* Padding */
.login-side,
.middle-section,
.logo-side {
    padding: 20px;
    background-color: #DAA520;
    color: white;
}


/* MAIN */
main {

    /* DEBUG */
    background-color: #00008B;
}

/* FIRST SECTION */
.first-section {
    /* debug */
    /* height: 600px; */
    background-color: #00008B;
}

.first-box {
    width: 1100px;
    height: 600px;
    background-color: #EE82EE;
}

/* SECOND SECTION */

/* left-box */
.left-box {
    flex-grow: 2;
    height: 600px;
    background-color: #1E90FF;
}

.right-box {
    flex-grow: 1;
    height: 600px;
    background-color: #FFC0CB;
}

/* FIFTH SECTION */
.rectangle {
    flex-grow: 1;
    height: 800px;
    background-color: #228B22;
}



/* FOOTER */
footer {

    /* DEBUG */
    background-color: green;
}

.footer-label {
    background-color: #23272A;
}

.flex {
    display: flex;
}

.container {
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}


.box {
    flex-grow: 1;
    height: 900px;
    background-color: #20B2AA;
}

#pink-box {
    flex-grow: 2;
    background-color: #F08080;
}

.signup-section {
    width: 100%;
    height: 200px;
    background-color: #7FFFD4;
}