/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}


/* UTILITIES */
.dashed {
    border: 3px dashed black;
}

.mar-auto {
    margin: 0 auto;
}
/* LIST TAG */

/* li */
li {
    list-style: none;
}

/* ul */
ul.flex {
    justify-content: space-evenly;
}


/* ANCOR TAG */
a {
    color: white;
    text-decoration: none;
}


/* HEADER */
header {
    /* debug */
    background-color: #ADD8E6;
}

.header-bar {
    font-size: 20px;
    font-family: monospace;
}

/* Logo-side */
.logo-side {
    flex-basis: 20%;
}

/* Middle section */
.middle-section {
    flex-basis: 40%;
    flex-direction: row;
}

/* login-side */
.login-side {
    flex-basis: 20%;
    text-align: end;
}

/* Padding */
.login-side,
.middle-section,
.logo-side {
    padding: 20px;
    background-color: #DAA520;
    color: white;
}


/* MAIN */
main {

    /* DEBUG */
    background-color: #00008B;
}

.first-section {
    /* debug */
    width: 800px;
    height: 600px;
    background-color: #EE82EE;
}


/* FOOTER */
footer {

    /* DEBUG */
    height: 200px;
    background-color: green;
}

.flex {
    display: flex;
}

.container {
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}